:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --bar-bg-color: #e0e0e0;
    --bar-fill-color: #4CAF50;
}

.dark-mode {
    --bg-color: #464646;
    --text-color: #ffffff;
    --bar-bg-color: #303030;
    --bar-fill-color: #45a049;
}

body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    text-align: center;
}

.skill-category {
    margin-bottom: 20px;
    position: relative;
}

.skill-name {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 70px);
}

.skill-bar {
    width: 100%;
    height: 30px;
    background-color: var(--bar-bg-color);
    position: relative;
}

.skill-fill {
    height: 100%;
    background-color: var(--bar-fill-color);
}

.skill-years {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.skill-details {
    display: none;
    margin-top: 5px;
}

.skill-details li {
    display: flex; /* Make li elements block-level to stretch to the right-most side */
    justify-content: space-between; /* Ensure space between the name and years */
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 2px; /* Adjust this value to decrease vertical spacing */
    padding: 0; /* Remove any default padding */

}
.skill-detail-name {
    flex: 1; /* Allow the name to take up available space */
}

.skill-detail-years {
    text-align: right;
    flex: 0; /* Prevent the years from stretching */
    display: block; /* Ensure it takes up the full width of the parent li */
    white-space: nowrap;
}

ul {
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 20px;
}

.toggle-button {
    position: fixed;
    padding: 5px 10px;
    background-color: var(--bar-fill-color);
    color: var(--bg-color);
    border: none;
    cursor: pointer;
}

#mode-toggle {
    top: 10px;
    right: 10px;
}

#details-toggle {
    top: 50px;
    right: 10px;
}